table.tabs {
border-top: 0px;
border-right: 0px;
border-left: 0px;
border-bottom: 1px dashed;
}

td.tabs {
border-top: 1px dashed;
border-right: 1px dashed;
border-left: 1px dashed;
border-bottom: 0px;
text-align: justify;
vertical-align: middle;
}

.portletColumn
{
  width: 100%
	float: left;
	min-height: 100px;
  margin: 0;
  padding: 0;
}

.portlet
{
	border: 1px solid #666;
	overflow: hidden;
  display:block;
  margin: 0;
  padding: 0;
  margin-bottom:15px;
}

.portletHeader
{
	line-height: 28px;
	background-color: #A3A7F6;
	border-top: 2px solid black;
	color: #000;
	cursor: move;
	position: relative;
}

.portletContent
{
	border:1px solid #C5D7EF;
	overflow:hidden;
	padding:5px 5px 10px;
}

.sortHelper
{
	border: 3px dashed #666;
	width: auto !important;
}
