<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
  <display-name>portlet_jp_PortletRequestDispatcher_web</display-name>
  <servlet>
    <servlet-name>AccessToPathForwardTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.AccessToPathForwardTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccessToPathTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.AccessToPathTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncludedJSP</servlet-name>
    <jsp-file>/Included.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>IncludedRequestAttributesTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.IncludedRequestAttributesTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncludeIOExceptionTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.IncludeIOExceptionTestServlet</servlet-class>
  </servlet>    
  <servlet>
    <servlet-name>IncludePortletExceptionTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.IncludePortletExceptionTestServlet</servlet-class>
  </servlet> 
  <servlet>   
    <servlet-name>IncludeServletTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.IncludeServletTestServlet</servlet-class>
  </servlet>
  <servlet>   
    <servlet-name>MultipleForwardsTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.MultipleForwardsTestServlet</servlet-class>
  </servlet>  
  <servlet>   
    <servlet-name>PathNotSetForwardTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.PathNotSetForwardTestServlet</servlet-class>
  </servlet>   
  <servlet>
    <servlet-name>QueryStringParametersTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.QueryStringParametersTestServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>RequestMethodsAttributeMiscTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsAttributeMiscTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestMethodsGetInputStreamTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsGetInputStreamTestServlet</servlet-class>
  </servlet>    
  <servlet>
    <servlet-name>RequestMethodsGetReaderTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsGetReaderTestServlet</servlet-class>
  </servlet>    
  <servlet>
    <servlet-name>RequestMethodsGetRequestDispatcherTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsGetRequestDispatcherTestServlet</servlet-class>
  </servlet>   
  <servlet>
    <servlet-name>RequestMethodsLocaleMiscTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsLocaleMiscTestServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>RequestMethodsMiscMiscTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsMiscMiscTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestMethodsParameterMiscTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsParameterMiscTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestMethodsReturn0TestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsReturn0TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestMethodsReturnNullTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsReturnNullTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestMethodsReturnPathInfoTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsReturnPathInfoTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestMethodsSecondMiscMiscTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsSecondMiscMiscTestServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>RequestMethodsSessionMiscTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.RequestMethodsSessionMiscTestServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>ResponseBufferClearedForwardTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.ResponseBufferClearedForwardTestServlet</servlet-class>
  </servlet>     
  <servlet>
    <servlet-name>ResponseBufferCommittedForwardTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.ResponseBufferCommittedForwardTestServlet</servlet-class>
  </servlet>     
    <servlet>
    <servlet-name>ResponseBufferPortletCommitForwardTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.ResponseBufferPortletCommitForwardTestServlet</servlet-class>
  </servlet>       
  <servlet>
    <servlet-name>ResponseMethodsGetOutputStreamTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.ResponseMethodsGetOutputStreamTestServlet</servlet-class>
  </servlet>     
  <servlet>
    <servlet-name>ResponseMethodsGetWriterTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.ResponseMethodsGetWriterTestServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>ResponseMethodsMiscMiscTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.ResponseMethodsMiscMiscTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseMethodsReturnNullTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.ResponseMethodsReturnNullTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SameThreadTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.SameThreadTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletCannotChangeStatusCodeTestServlet</servlet-name>
    <servlet-class>com.sun.ts.tests.portlet.api.javax_portlet.PortletRequestDispatcher.ServletCannotChangeStatusCodeTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessToPathForwardTestServlet</servlet-name>
    <url-pattern>/AccessToPathForwardTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccessToPathTestServlet</servlet-name>
    <url-pattern>/AccessToPathTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncludedRequestAttributesTestServlet</servlet-name>
    <url-pattern>/IncludedRequestAttributesTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultipleForwardsTestServlet</servlet-name>
    <url-pattern>/MultipleForwardsTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PathNotSetForwardTestServlet</servlet-name>
    <url-pattern>/PathNotSetForwardTestServlet/*</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>QueryStringParametersTestServlet</servlet-name>
    <url-pattern>/QueryStringParametersTestServlet/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>RequestMethodsAttributeMiscTestServlet</servlet-name>
    <url-pattern>/RequestMethodsAttributeMiscTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestMethodsGetInputStreamTestServlet</servlet-name>
    <url-pattern>/RequestMethodsGetInputStreamTestServlet/*</url-pattern>
  </servlet-mapping>   
  <servlet-mapping>
    <servlet-name>RequestMethodsGetReaderTestServlet</servlet-name>
    <url-pattern>/RequestMethodsGetReaderTestServlet/*</url-pattern>
  </servlet-mapping>     
  <servlet-mapping>
    <servlet-name>RequestMethodsGetRequestDispatcherTestServlet</servlet-name>
    <url-pattern>/RequestMethodsGetRequestDispatcherTestServlet/*</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>RequestMethodsLocaleMiscTestServlet</servlet-name>
    <url-pattern>/RequestMethodsLocaleMiscTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestMethodsMiscMiscTestServlet</servlet-name>
    <url-pattern>/RequestMethodsMiscMiscTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestMethodsParameterMiscTestServlet</servlet-name>
    <url-pattern>/RequestMethodsParameterMiscTestServlet/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>RequestMethodsReturn0TestServlet</servlet-name>
    <url-pattern>/RequestMethodsReturn0TestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestMethodsReturnNullTestServlet</servlet-name>
    <url-pattern>/RequestMethodsReturnNullTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestMethodsReturnPathInfoTestServlet</servlet-name>
    <url-pattern>/RequestMethodsReturnPathInfoTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestMethodsSecondMiscMiscTestServlet</servlet-name>
    <url-pattern>/RequestMethodsSecondMiscMiscTestServlet/*</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>RequestMethodsSessionMiscTestServlet</servlet-name>
    <url-pattern>/RequestMethodsSessionMiscTestServlet/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>ResponseBufferClearedForwardTestServlet</servlet-name>
    <url-pattern>/ResponseBufferClearedForwardTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseBufferCommittedForwardTestServlet</servlet-name>
    <url-pattern>/ResponseBufferCommittedForwardTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseBufferPortletCommitForwardTestServlet</servlet-name>
    <url-pattern>/ResponseBufferPortletCommitForwardTestServlet/*</url-pattern>
  </servlet-mapping>      
  <servlet-mapping>
    <servlet-name>ResponseMethodsGetOutputStreamTestServlet</servlet-name>
    <url-pattern>/ResponseMethodsGetOutputStreamTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseMethodsGetWriterTestServlet</servlet-name>
    <url-pattern>/ResponseMethodsGetWriterTestServlet/*</url-pattern>
  </servlet-mapping>              
  <servlet-mapping>
    <servlet-name>ResponseMethodsMiscMiscTestServlet</servlet-name>
    <url-pattern>/ResponseMethodsMiscMiscTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseMethodsReturnNullTestServlet</servlet-name>
    <url-pattern>/ResponseMethodsReturnNullTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SameThreadTestServlet</servlet-name>
    <url-pattern>/SameThreadTestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletCannotChangeStatusCodeTestServlet</servlet-name>
    <url-pattern>/ServletCannotChangeStatusCodeTestServlet/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
