<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
  <display-name>portlet_jp_taglib_web</display-name>
  
<!-- ******************************************** ActionURL-Tag ********************************************************************** -->   
  <servlet>
    <servlet-name>ActionURLCopyCurrentRenderParametersAppendTestServlet</servlet-name>
    <jsp-file>/ActionURLCopyCurrentRenderParametersAppendTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLCopyCurrentRenderParametersTestServlet</servlet-name>
    <jsp-file>/ActionURLCopyCurrentRenderParametersTest.jsp</jsp-file>
  </servlet>
    <servlet>
    <servlet-name>ActionURLEscapeXmlTestServlet</servlet-name>
    <jsp-file>/ActionURLEscapeXmlTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLIllegalPortletModeTestServlet</servlet-name>
    <jsp-file>/ActionURLIllegalPortletModeTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLIllegalWindowStateTestServlet</servlet-name>
    <jsp-file>/ActionURLIllegalWindowStateTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLPortletModeNotSetTestServlet</servlet-name>
    <jsp-file>/ActionURLPortletModeNotSetTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLPortletModeTestServlet</servlet-name>
    <jsp-file>/ActionURLPortletModeTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLTestServlet</servlet-name>
    <jsp-file>/ActionURLTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLVarInLoopTestServlet</servlet-name>
    <jsp-file>/ActionURLVarInLoopTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLVarOverwriteTestServlet</servlet-name>
    <jsp-file>/ActionURLVarOverwriteTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ActionURLVarTestServlet</servlet-name>
    <jsp-file>/ActionURLVarTest.jsp</jsp-file>
  </servlet>
  
<!-- ******************************************** DefineObjects-Tag ********************************************************************** -->
  <servlet>
    <servlet-name>DefineObjectsProcessActionTestServlet</servlet-name>
    <jsp-file>/DefineObjectsProcessActionTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>DefineObjectsProcessEventTestServlet</servlet-name>
    <jsp-file>/DefineObjectsProcessEventTest.jsp</jsp-file>
  </servlet>  
  <servlet>
    <servlet-name>DefineObjectsRenderTestServlet</servlet-name>
    <jsp-file>/DefineObjectsRenderTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>DefineObjectsServeResourceTestServlet</servlet-name>
    <jsp-file>/DefineObjectsServeResourceTest.jsp</jsp-file>
  </servlet>    
  
<!-- ******************************************** Namespace-Tag ********************************************************************** -->
   <servlet>
  	<servlet-name>NamespaceTagUniquenessTestServlet</servlet-name>
  	<jsp-file>/NamespaceTagUniquenessTest.jsp</jsp-file>
  </servlet>
 <!-- ******************************************** PortletTaglib-Implemented *********************************************************** --> 
  <servlet>
    <servlet-name>PortletTaglibImplementedTestServlet</servlet-name>
    <jsp-file>/PortletTaglibImplementedTest.jsp</jsp-file>
  </servlet>
  
<!-- ******************************************** RenderURL-Tag ************************************************************************ -->  
  <servlet>
    <servlet-name>RenderURLCopyCurrentRenderParametersAppendTestServlet</servlet-name>
    <jsp-file>/RenderURLCopyCurrentRenderParametersAppendTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RenderURLCopyCurrentRenderParametersTestServlet</servlet-name>
    <jsp-file>/RenderURLCopyCurrentRenderParametersTest.jsp</jsp-file>
  </servlet>      
  <servlet>
    <servlet-name>RenderURLEscapeXmlTestServlet</servlet-name>
    <jsp-file>/RenderURLEscapeXmlTest.jsp</jsp-file>
  </servlet>      
  <servlet>
    <servlet-name>RenderURLIllegalPortletModeTestServlet</servlet-name>
    <jsp-file>/RenderURLIllegalPortletModeTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RenderURLIllegalWindowStateTestServlet</servlet-name>
    <jsp-file>/RenderURLIllegalWindowStateTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RenderURLPortletModeNotSetTestServlet</servlet-name>
    <jsp-file>/RenderURLPortletModeNotSetTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RenderURLPortletModeTestServlet</servlet-name>
    <jsp-file>/RenderURLPortletModeTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RenderURLTestServlet</servlet-name>
    <jsp-file>/RenderURLTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RenderURLVarInLoopTestServlet</servlet-name>
    <jsp-file>/RenderURLVarInLoopTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RenderURLVarOverwriteTestServlet</servlet-name>
    <jsp-file>/RenderURLVarOverwriteTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RenderURLVarTestServlet</servlet-name>
    <jsp-file>/RenderURLVarTest.jsp</jsp-file>
  </servlet>
  
<!-- ******************************************** ResourceURL-Tag ************************************************************* -->  
  <servlet>
    <servlet-name>ResourceURLAppendParameterTestServlet</servlet-name>
    <jsp-file>/ResourceURLAppendParameterTest.jsp</jsp-file>
  </servlet>   
  <servlet>
    <servlet-name>ResourceURLEscapeXmlTestServlet</servlet-name>
    <jsp-file>/ResourceURLEscapeXmlTest.jsp</jsp-file>
  </servlet>  
  <servlet>
    <servlet-name>ResourceURLPreservesPortletModeTestServlet</servlet-name>
    <jsp-file>/ResourceURLPreservesPortletModeTest.jsp</jsp-file>
  </servlet>  
  <servlet>
    <servlet-name>ResourceURLPreservesRenderParametersTestServlet</servlet-name>
    <jsp-file>/ResourceURLPreservesRenderParametersTest.jsp</jsp-file>
  </servlet>   
  <servlet>
    <servlet-name>ResourceURLPreservesWindowStateTestServlet</servlet-name>
    <jsp-file>/ResourceURLPreservesWindowStateTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ResourceURLTestServlet</servlet-name>
    <jsp-file>/ResourceURLTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ResourceURLVarInLoopTestServlet</servlet-name>
    <jsp-file>/ResourceURLVarInLoopTest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ResourceURLVarOverwriteTestServlet</servlet-name>
    <jsp-file>/ResourceURLVarOverwriteTest.jsp</jsp-file>
  </servlet>    
  <servlet>
    <servlet-name>ResourceURLVarTestServlet</servlet-name>
    <jsp-file>/ResourceURLVarTest.jsp</jsp-file>
  </servlet>
  
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
