<?xml version="1.0" encoding="ISO-8859-1"?>
<layout xmlns:h="http://www.w3.org/1999/xhtml" xmlns="http://www.exoplatform.org/pc2/lp">
    <h:table width="100%">
      <h:tr>
        <h:td><header/></h:td>
        <h:td width="300">
        </h:td>
      </h:tr>
    </h:table>
    <pages/>

    <zone>
        <col id="col1" width="25" default="true">
            <portlet app="demos" name="BundlesDemo"/>
            <portlet app="demos" name="PrefsPortlet"/>
            <portlet app="demos" name="EventDemo"/>
        </col>
        <col id="col2" width="50">
            <portlet app="demos" name="HelloWorld"/>
        </col>
        <col id="col3" width="25">
            <portlet app="demos" name="ResourceDemo"/>
        </col>
    </zone>
    <footer/>
</layout>
