<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>swebworkportlet</display-name>
  <description>swebworkportlet</description>

  <filter>
    <filter-name>webwork</filter-name>
    <filter-class>com.opensymphony.webwork.dispatcher.FilterDispatcher</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>webwork</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.exoplatform.services.portletcontainer.impl.servlet.PortletApplicationListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.opensymphony.webwork.portlet.context.ServletContextHolderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>PortletWrapper</servlet-name>
    <servlet-class>org.exoplatform.services.portletcontainer.impl.servlet.ServletWrapper</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>preparator</servlet-name>
    <servlet-class>com.opensymphony.webwork.portlet.context.PreparatorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PortletWrapper</servlet-name>
    <url-pattern>/PortletWrapper/*</url-pattern>
  </servlet-mapping>

  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <taglib>
    <taglib-uri>/webwork</taglib-uri>
    <taglib-location>/WEB-INF/lib/webwork-2.2.2.jar</taglib-location>
  </taglib>

</web-app>