<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>portal</display-name>
  <description>test portlet container application</description>
  <distributable/>

  <!-- ALLOW WEB APPLICATIONS TO DISABLE PORTLET DEPLOYMENT ON WAS -->

  <context-param>
    <param-name>com.ibm.websphere.portletcontainer.PortletDeploymentEnabled</param-name>
    <param-value>false</param-value>
  </context-param> 

  <filter>
    <filter-name>PortalFrameworkFilter</filter-name>
    <filter-class>org.exoplatform.frameworks.portletcontainer.portalframework.filters.PortalFrameworkFilter</filter-class>
  </filter>

  <filter>
    <filter-name>PortletFilter</filter-name>
    <filter-class>org.exoplatform.services.portletcontainer.test.filters.PortletFilter</filter-class>
  </filter>

  <!-- PortalFrameworkFilter (must be placed before anything that uses framework!) -->
  <filter-mapping>
    <filter-name>PortalFrameworkFilter</filter-name>
    <servlet-name>PortalServlet</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>PortalFrameworkFilter</filter-name>
    <servlet-name>TckServlet</servlet-name>
  </filter-mapping>

  <!-- PortletFilter -->
  <filter-mapping>
    <filter-name>PortletFilter</filter-name>
    <servlet-name>PortalServlet</servlet-name>
  </filter-mapping>

  <filter-mapping>
    <filter-name>PortletFilter</filter-name>
    <servlet-name>TckServlet</servlet-name>
  </filter-mapping>

  <listener>
    <listener-class>org.exoplatform.services.portletcontainer.test.listeners.AppListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.exoplatform.frameworks.portletcontainer.portalframework.listeners.SessionListener</listener-class>
  </listener>

  <!-- SERVLETS -->

  <!-- PortalServlet -->
  <servlet>
    <servlet-name>PortalServlet</servlet-name>
    <servlet-class>org.exoplatform.services.portletcontainer.test.servlets.PortalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TckServlet</servlet-name>
    <servlet-class>org.exoplatform.services.portletcontainer.test.servlets.TckServlet</servlet-class>
  </servlet>

  <!-- SERVLETS MAPPING -->

  <!-- PortalServlet mapping -->
  <servlet-mapping>
    <servlet-name>PortalServlet</servlet-name>
    <url-pattern>/private/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TckServlet</servlet-name>
    <url-pattern>/tck/*</url-pattern>
  </servlet-mapping>

  <!-- ================================================================== -->
  <!--           MIME MAPPING                                             -->
  <!-- ================================================================== -->

  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <!-- The Welcome File List for IBM WebSphere -->
  
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>

 <security-constraint>
    <web-resource-collection>
      <web-resource-name>authentication</web-resource-name>
      <url-pattern>/private/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>exo-domain</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login-error.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <security-role id="ID_EXO_ADMIN">
    <description>a simple admin role</description>
    <role-name>admin</role-name>
  </security-role>

</web-app>